In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
URL = "https://www.indeed.co.in/jobs?q=director+it&l="

In [3]:
req = requests.get(URL)
 
htmlData = BeautifulSoup(req.content, 'html5lib')

In [4]:
jobtitles = []
joblocation = []

for table in htmlData.find_all(name='table' , attrs={'id':'resultsBody'}):
    for table1 in htmlData.find_all(name='table' , attrs={'id':'pageContent'}):
        for td in table.find_all(name='td' , attrs={'id':'resultsCol'}):
            for div in td.find_all(name='div' , attrs={'data-tn-component':'organicJob'}):
                for h2 in div.find_all(name='h2', attrs={'class':'jobtitle'}):
                    for a in h2.find_all(name='a', attrs={'class':'turnstileLink'}):
                        jobtitles.append(a['title'])

for table in htmlData.find_all(name='table' , attrs={'id':'resultsBody'}):
    for table1 in htmlData.find_all(name='table' , attrs={'id':'pageContent'}):
        for td in table.find_all(name='td' , attrs={'id':'resultsCol'}):
            for div in td.find_all(name='div' , attrs={'data-tn-component':'organicJob'}):
                for span in div.find_all(name='span', attrs={'class':'location'}):
                    joblocation.append(span.text)

In [6]:

titlesSeries  = Series(np.array(jobtitles))
locationSeries = Series(np.array(joblocation))
dataframe = pd.concat([titlesSeries,locationSeries],axis=1)
dataframe.columns = ['Job Title','Location']
print("Director IT jobs by Indeed:")
dataframe

Director IT jobs by Indeed:

                                           Job Title              Location
0                                       Head IT/ CIO                 India
1                    In House IT support and Manager   Mumbai, Maharashtra
2                                  IT India Director     Pune, Maharashtra
3  Referrals for Leadership positions – VP & Dire...     Pune, Maharashtra
4                                IT Delivery Manager     More, Maharashtra
5                                       Director, IT  Noida, Uttar Pradesh
6  Director of Service Delivery (Managed IT Servi...  Noida, Uttar Pradesh
7  Director of Customer and Seller Experience IT ...  Bengaluru, Karnataka
8                                         IT MANAGER                 India
9                              Director – Technology  Bengaluru, Karnataka

In [8]:
URL = "https://www.indeed.co.in/jobs?q=director+it&l=mumbai"
req = requests.get(URL)
htmlData = BeautifulSoup(req.content, 'html5lib')

jobtitles = []
joblocation = []

for table in htmlData.find_all(name='table' , attrs={'id':'resultsBody'}):
    for table1 in htmlData.find_all(name='table' , attrs={'id':'pageContent'}):
        for td in table.find_all(name='td' , attrs={'id':'resultsCol'}):
            for div in td.find_all(name='div' , attrs={'data-tn-component':'organicJob'}):
                for h2 in div.find_all(name='h2', attrs={'class':'jobtitle'}):
                    for a in h2.find_all(name='a', attrs={'class':'turnstileLink'}):
                        jobtitles.append(a['title'])

for table in htmlData.find_all(name='table' , attrs={'id':'resultsBody'}):
    for table1 in htmlData.find_all(name='table' , attrs={'id':'pageContent'}):
        for td in table.find_all(name='td' , attrs={'id':'resultsCol'}):
            for div in td.find_all(name='div' , attrs={'data-tn-component':'organicJob'}):
                for span in div.find_all(name='span', attrs={'class':'location'}):
                    joblocation.append(span.text)
                    
titlesSeries = Series(np.array(jobtitles))
locationSeries = Series(np.array(joblocation))
dataframe = pd.concat([titlesSeries,locationSeries],axis=1)
dataframe.columns = ['Job Title','Location']
print("Director IT Mumbai jobs by Indeed:")
dataframe

Director IT Mumbai jobs by Indeed:

                                           Job Title             Location
0                    In House IT support and Manager  Mumbai, Maharashtra
1                                       Manager - IT  Mumbai, Maharashtra
2                               IT Manager (App Dev)  Mumbai, Maharashtra
3                                       Manager - IT  Mumbai, Maharashtra
4                         Director - Change the bank  Mumbai, Maharashtra
5                    VP- Strategic Business Analysis  Mumbai, Maharashtra
6                   Manager - Information Technology  Mumbai, Maharashtra
7   Xaxis l Vice President - Programmatic Operations  Mumbai, Maharashtra
8                                 Manager IT Auditor  Mumbai, Maharashtra
9  The Glitch | Associate Group Head - Brand Stra...  Mumbai, Maharashtra