In [1]:

# Import required libraries# Impor 
from tpot import TPOTClassifier
from sklearn.model_selection import train_test_split
import pandas as pd 
import numpy as np

C:\Users\Lenovo\Anaconda3\lib\site-packages\deap\tools\_hypervolume\pyhv.py:33: ImportWarning: Falling back to the python version of hypervolume module. Expect this to be very slow.
  "module. Expect this to be very slow.", ImportWarning)
C:\Users\Lenovo\Anaconda3\lib\importlib\_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
C:\Users\Lenovo\Anaconda3\lib\importlib\_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
C:\Users\Lenovo\Anaconda3\lib\importlib\_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
C:\Users\Lenovo\Anaconda3\lib\importlib\_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
C:\Users\Lenovo\Anaconda3\lib\importlib\_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)

In [2]:

# Load the data# Load  
train_df = pd.read_csv('./train.csv')
train_df.head(5)

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,premium,renewal
0,110936,0.429,12058,355060,0.0,0.0,0.0,99.02,13,C,Urban,3300,1
1,41492,0.010,21546,315150,0.0,0.0,0.0,99.89,21,A,Urban,18000,1
2,31300,0.917,17531,84140,2.0,3.0,1.0,98.69,7,C,Rural,3300,0
3,19415,0.049,15341,250510,0.0,0.0,0.0,99.57,9,A,Urban,9600,1
4,99379,0.052,31400,198680,0.0,0.0,0.0,99.87,12,B,Urban,9600,1

In [3]:
train_df.groupby('residence_area_type').renewal.value_counts()

residence_area_type  renewal
Rural                1          29672
                     0           1998
Urban                1          45183
                     0           3000
Name: renewal, dtype: int64

In [4]:
train_df.groupby(['sourcing_channel','perc_premium_paid_by_cash_credit']).renewal.value_counts()

sourcing_channel  perc_premium_paid_by_cash_credit  renewal
A                 0.000                             1          3310
                                                    0            96
                  0.001                             1           416
                                                    0             6
                  0.002                             1           370
                                                    0             5
                  0.003                             1           354
                                                    0             7
                  0.004                             1           351
                                                    0             5
                  0.005                             1           351
                                                    0             4
                  0.006                             1           341
                                                    0             2
                  0.007                             1           282
                                                    0             2
                  0.008                             1           324
                                                    0             1
                  0.009                             1           294
                                                    0             2
                  0.010                             1           316
                                                    0             4
                  0.011                             1           272
                                                    0             4
                  0.012                             1           295
                                                    0             5
                  0.013                             1           286
                                                    0             4
                  0.014                             1           273
                                                    0             2
                                                               ...
E                 0.886                             1             1
                  0.888                             1             1
                  0.894                             1             1
                  0.909                             1             1
                  0.921                             1             2
                  0.923                             1             2
                                                    0             1
                  0.924                             1             1
                  0.926                             0             1
                  0.930                             1             1
                  0.931                             1             1
                  0.932                             1             1
                  0.937                             0             1
                  0.951                             1             1
                  0.955                             1             3
                  0.956                             1             1
                  0.962                             1             2
                  0.963                             1             2
                  0.969                             0             1
                  0.974                             1             2
                  0.977                             1             2
                  0.980                             0             1
                  0.984                             0             1
                  0.985                             0             1
                                                    1             1
                  0.986                             1             1
                  0.987                             1             1
                  0.991                             0             2
                  1.000                             1            29
                                                    0            12
Name: renewal, Length: 6585, dtype: int64

In [5]:
id = pd.crosstab([train_df.sourcing_channel, train_df.perc_premium_paid_by_cash_credit], train_df.renewal.astype(float))
id.div(id.sum(1).astype(float), 0)

renewal                                                 0.0       1.0
sourcing_channel perc_premium_paid_by_cash_credit
A                0.000                             0.028186  0.971814
                 0.001                             0.014218  0.985782
                 0.002                             0.013333  0.986667
                 0.003                             0.019391  0.980609
                 0.004                             0.014045  0.985955
                 0.005                             0.011268  0.988732
                 0.006                             0.005831  0.994169
                 0.007                             0.007042  0.992958
                 0.008                             0.003077  0.996923
                 0.009                             0.006757  0.993243
                 0.010                             0.012500  0.987500
                 0.011                             0.014493  0.985507
                 0.012                             0.016667  0.983333
                 0.013                             0.013793  0.986207
                 0.014                             0.007273  0.992727
                 0.015                             0.017544  0.982456
                 0.016                             0.021277  0.978723
                 0.017                             0.007937  0.992063
                 0.018                             0.012766  0.987234
                 0.019                             0.015209  0.984791
                 0.020                             0.008065  0.991935
                 0.021                             0.008547  0.991453
                 0.022                             0.007812  0.992188
                 0.023                             0.020661  0.979339
                 0.024                             0.023256  0.976744
                 0.025                             0.017778  0.982222
                 0.026                             0.013453  0.986547
                 0.027                             0.009302  0.990698
                 0.028                             0.019417  0.980583
                 0.029                             0.017544  0.982456
...                                                     ...       ...
E                0.879                             0.000000  1.000000
                 0.880                             0.000000  1.000000
                 0.884                             0.000000  1.000000
                 0.886                             0.000000  1.000000
                 0.888                             0.000000  1.000000
                 0.894                             0.000000  1.000000
                 0.909                             0.000000  1.000000
                 0.921                             0.000000  1.000000
                 0.923                             0.333333  0.666667
                 0.924                             0.000000  1.000000
                 0.926                             1.000000  0.000000
                 0.930                             0.000000  1.000000
                 0.931                             0.000000  1.000000
                 0.932                             0.000000  1.000000
                 0.937                             1.000000  0.000000
                 0.951                             0.000000  1.000000
                 0.955                             0.000000  1.000000
                 0.956                             0.000000  1.000000
                 0.962                             0.000000  1.000000
                 0.963                             0.000000  1.000000
                 0.969                             1.000000  0.000000
                 0.974                             0.000000  1.000000
                 0.977                             0.000000  1.000000
                 0.980                             1.000000  0.000000
                 0.984                             1.000000  0.000000
                 0.985                             0.500000  0.500000
                 0.986                             0.000000  1.000000
                 0.987                             0.000000  1.000000
                 0.991                             1.000000  0.000000
                 1.000                             0.292683  0.707317

[4370 rows x 2 columns]

In [6]:
#Data Munging

train_df.rename(columns={'renewal': 'class'}, inplace=True)

In [7]:
train_df.dtypes

id                                    int64
perc_premium_paid_by_cash_credit    float64
age_in_days                           int64
Income                                int64
Count_3-6_months_late               float64
Count_6-12_months_late              float64
Count_more_than_12_months_late      float64
application_underwriting_score      float64
no_of_premiums_paid                   int64
sourcing_channel                     object
residence_area_type                  object
premium                               int64
class                                 int64
dtype: object

In [8]:
for cat in ['sourcing_channel', 'residence_area_type']:
    print("Number of levels in category '{0}': \b {1:2.2f} ".format(cat, train_df[cat].unique().size))

Number of levels in category 'sourcing_channel': 5.00
Number of levels in category 'residence_area_type': 2.00

In [9]:
for cat in ['sourcing_channel', 'residence_area_type']:
    print("Levels for catgeory '{0}': {1}".format(cat, train_df[cat].unique()))

Levels for catgeory 'sourcing_channel': ['C' 'A' 'B' 'D' 'E']
Levels for catgeory 'residence_area_type': ['Urban' 'Rural']

In [10]:
train_df['sourcing_channel'] = train_df['sourcing_channel'].map({'A':0,'B':1,'C':2,'D':3})
train_df['residence_area_type'] = train_df['residence_area_type'].map({'Rural':0,'Urban':1})

In [11]:
train_df = train_df.fillna(-999)
pd.isnull(train_df).any()

id                                  False
perc_premium_paid_by_cash_credit    False
age_in_days                         False
Income                              False
Count_3-6_months_late               False
Count_6-12_months_late              False
Count_more_than_12_months_late      False
application_underwriting_score      False
no_of_premiums_paid                 False
sourcing_channel                    False
residence_area_type                 False
premium                             False
class                               False
dtype: bool

In [12]:
# #Since Name and Ticket have so many levels, we drop them from our analysis for the sake of simplicity. For Cabin, we encode the levels as digits using Scikit-learn's MultiLabelBinarizer and treat them as new features.


# fromfrom  sklearn.preprocessingsklearn.  import MultiLabelBinarizer
# mlb = MultiLabelBinarizer()
# CabinTrans = mlb.fit_transform([{str(val)} for val in titanic['Cabin'].values])

# CabinTrans

# titanic_new = titanic.drop(['Name','Ticket','Cabin','class'], axis=1)

# assert (len(titanic['Cabin'].unique()) == len(mlb.classes_)), "Not Equal" #check correct encoding done

# #We then add the encoded features to form the final dataset to be used with TPOT.

# titanic_new = np.hstack((titanic_new.values,CabinTrans))

In [13]:
np.isnan(train_df).any()

id                                  False
perc_premium_paid_by_cash_credit    False
age_in_days                         False
Income                              False
Count_3-6_months_late               False
Count_6-12_months_late              False
Count_more_than_12_months_late      False
application_underwriting_score      False
no_of_premiums_paid                 False
sourcing_channel                    False
residence_area_type                 False
premium                             False
class                               False
dtype: bool

In [14]:
train_df_n = train_df.loc[:, train_df.columns !='class']
target = train_df.loc[:, train_df.columns =='class']

train_matrix = train_df_n.as_matrix()

train_matrix[0].size

12

In [15]:
renewal_class = target.as_matrix()

In [16]:
training_indices, validation_indices = training_indices, testing_indices = train_test_split(train_df.index, stratify = renewal_class, train_size=0.75, test_size=0.25)
training_indices.size, validation_indices.size

(59889, 19964)

In [17]:
tpot = TPOTClassifier(verbosity=2, max_time_mins=2, max_eval_time_mins=0.04, population_size=40)
tpot.fit(train_matrix[training_indices], renewal_class[training_indices])

C:\Users\Lenovo\Anaconda3\lib\importlib\_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

2.0217122 minutes have elapsed. TPOT will close down.
TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: DecisionTreeClassifier(input_matrix, criterion=entropy, max_depth=6, min_samples_leaf=12, min_samples_split=15)

TPOTClassifier(config_dict={'sklearn.naive_bayes.GaussianNB': {}, 'sklearn.naive_bayes.BernoulliNB': {'alpha': [0.001, 0.01, 0.1, 1.0, 10.0, 100.0], 'fit_prior': [True, False]}, 'sklearn.naive_bayes.MultinomialNB': {'alpha': [0.001, 0.01, 0.1, 1.0, 10.0, 100.0], 'fit_prior': [True, False]}, 'sklearn.tree.DecisionT....3 , 0.35, 0.4 , 0.45, 0.5 , 0.55,
       0.6 , 0.65, 0.7 , 0.75, 0.8 , 0.85, 0.9 , 0.95, 1.  ])}}}},
        crossover_rate=0.1, cv=5, disable_update_check=False,
        early_stop=None, generations=1000000, max_eval_time_mins=0.04,
        max_time_mins=2, memory=None, mutation_rate=0.9, n_jobs=1,
        offspring_size=40, periodic_checkpoint_folder=None,
        population_size=40, random_state=None, scoring=None, subsample=1.0,
        verbosity=2, warm_start=False)

In [18]:
tpot.score(train_matrix[validation_indices], train_df.loc[validation_indices, 'class'].values)

0.9380384692446404

In [19]:
tpot.export('tpot_prem_renew_pipeline.py')

True

In [20]:
#Make predictions on the submission data


# Read in the submission dataset# Read i 
test = pd.read_csv('./test.csv')
test.describe()
test['id'].head()

0      649
1    81136
2    70762
3    53935
4    15476
Name: id, dtype: int64

In [21]:
pd.isnull(test).any()

id                                  False
perc_premium_paid_by_cash_credit    False
age_in_days                         False
Income                              False
Count_3-6_months_late                True
Count_6-12_months_late               True
Count_more_than_12_months_late       True
application_underwriting_score       True
no_of_premiums_paid                 False
sourcing_channel                    False
residence_area_type                 False
premium                             False
dtype: bool

In [22]:
for var in ['Count_3-6_months_late']: #,'Name','Ticket']:
    new = list(set(test[var]) - set(train_df[var]))
    test.ix[test[var].isin(new), var] = -999

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
test['sourcing_channel'] = test['sourcing_channel'].map({'A':0,'B':1,'C':2,'D':3})
test['residence_area_type'] = test['residence_area_type'].map({'Rural':0,'Urban':1})

In [24]:
test = test.fillna(-999)
pd.isnull(test).any()

id                                  False
perc_premium_paid_by_cash_credit    False
age_in_days                         False
Income                              False
Count_3-6_months_late               False
Count_6-12_months_late              False
Count_more_than_12_months_late      False
application_underwriting_score      False
no_of_premiums_paid                 False
sourcing_channel                    False
residence_area_type                 False
premium                             False
dtype: bool

In [25]:

# fromfrom  sklearn.preprocessingsklearn.  import MultiLabelBinarizer
# mlb = MultiLabelBinarizer()
# SubCabinTrans = mlb.fit([{str(val)} for val in titanic['Cabin'].values]).transform([{str(val)} for val in titanic_sub['Cabin'].values])
# titanic_sub = titanic_sub.drop(['Name','Ticket','Cabin'], axis=1)


# # Form the new submission data set# Form t 
# titanic_sub_new = np.hstack((titanic_sub.values,SubCabinTrans))

# np.any(np.isnan(titanic_sub_new))

# # Ensure equal number of features in both the final training and submission dataset
# assert (titanic_new.shape[1] == titanic_sub_new.shape[1]), "Not Equal"

test.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,premium
0,649,0.001,27384,51150,0.0,0.0,0.0,99.89,7,0.0,0,3300
1,81136,0.124,23735,285140,0.0,0.0,0.0,98.93,19,0.0,1,11700
2,70762,1.000,17170,186030,0.0,0.0,0.0,-999.00,2,1.0,1,11700
3,53935,0.198,16068,123540,0.0,0.0,0.0,99.00,11,1.0,0,5400
4,15476,0.041,10591,200020,1.0,0.0,0.0,99.17,14,0.0,0,9600

In [56]:
# Generate the predictions
submission = tpot.predict(test)

In [ ]:

# Create the submission file# Create 

import math

assumed_pbenchmark = 0.5
assumed_incentive_for_benchmark = 1650

effort_in_hrs = 10*(1-math.exp(-assumed_incentive_for_benchmark/400))

perc_improv_in_renew_prob = 20*(1-math.exp(-effort_in_hrs/5))


final = pd.DataFrame({'id': test['id'], 'renewal': submission })

#, 
#                       'incentive': 
#                                   if submission = 1: 
#                                       (assumed_incentive_for_benchmark*submission)/assumed_pbenchmark 
#                                   else: 
#                                       assumed_incentive_for_benchmark 

# # 'revenue': ((submission+(perc_improv_in_renew_prob*submission))*test['premium']-assumed_incentive_for_benchmark*submission)/assumed_pbenchmark 

# #final

final.to_csv('submission_03.csv', index = False)